body {
    align-items: center;
    margin: 0;
    background: lightskyblue;
    text-align: center;
    justify-content: center;
}

#boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    max-width: 916;
    width: calc(100% - 20px);
    margin: 50px auto;
    justify-content: center;
}

.box {
    background-color: rgba(255, 255, 255, 0.1);
    width: 150px;
    height: 300px;
    border-radius: 10px;
}