body {
    align-items: center;
    margin: 0;
    background: lightskyblue;
    text-align: center;
    justify-content: center;
}

#boxes {
    background: lightseagreen;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    max-width: 916px;
    width: calc(100% - 20px);
    height: 520px;
    margin: 50px auto;
    position: relative;
    top: 5%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.box {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 1, 1, 0.5);
    width: 150px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    top: 5%;
    transition: .3s ease;

}

.box:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
}

@font-face {
    font-family: Wendyville;
    src: url(Wendyville.ttf);
}

img {
    max-width: 90%;
    height: 95%;
    justify-content: center;
    position: relative;
    top: 10px;
}

.unavailable {
    border: 1px solid rgba(255, 1, 1, 0.5);
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: gold;
    position: relative;
    bottom: 8%;

    font-size: 35;
    line-height: 1.4;
    font-family: Wendyville,sans-serif;    
}